# Logs
*.log
laravel.log

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production

# PHP & Laravel
/vendor
/public/storage
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/storage/pail
/.phpunit.result.cache
/.phpunit.cache
.phpactor.json
.phpunit.result.cache

# IDEs
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Node modules
/node_modules

# Vite-related
/public/hot
# Ignora todo el build excepto lo que necesitamos
/public/build/*
!/public/build/.vite
!/public/build/manifest.json
!/public/build/assets/
/public/build/assets/*
!/public/build/assets/*.css
!/public/build/assets/*.js

# Composer auth file
/auth.json

# Homestead
Homestead.json
Homestead.yaml
